VITE_SUPABASE_URL=https://emwlcpuwiuwrgfcvqcso.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtd2xjcHV3aXV3cmdmY3ZxY3NvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY3NDU1ODUsImV4cCI6MjA2MjMyMTU4NX0.yMo6afaLaHbLrTqxzE87pEQRY5SRTO8wXnLpYJsJdY0
